




.jtwh strong {
    font-size: 24px;
    font-weight: 300;
}

.jtwh .hr {
    height: 2px;
    background-color: #33b16a;
    width: 72px;
    margin: 0 auto;
    margin-top: 3px;
    display: block;
    margin-bottom: 5px;
}
.jtwh span {
    font-size: 11px;
}

.title {
    font-size: 14px;
    text-align: center;
}

.careers-email {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.careers-content {
    width: 8rem;
    height: 1rem;
    border: 1px solid #cbcac8;
    border-radius: 1rem;
    background-color: #69b61a;
    color: #fcf8f9;
    line-height: 1rem;
    text-align: center;
    font-size: 15px;
}
.panel-group {
    margin-bottom: 22px;
}
.panel {
    margin-bottom: 22px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
.panel-group .panel {
    margin-bottom: 0;
    border-radius: 4px;
}
.panel-success {
    border-color: #d6e9c6;
}
.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}
.panel-careers {
    background-color: #69b61a!important;
    color: #fefdf8!important;
}
.panel-group .panel-heading {
    border-bottom: 0;
}
.panel-success>.panel-heading {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}