
.consultation {
    height: 200px;
    margin: 0 auto;
}
.col-md-12, .consultation, .consultation-desc {
    padding: 0!important;
}
.con {
    border: 1px solid #eee;
    -webkit-box-shadow: 0 1px 5px rgba(0,0,0,.1);
    box-shadow: 0 1px 5px rgba(0,0,0,.1);
}
.consultation-desc, .consultation-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 200px;
}
.consultation-text {
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-left: 20px;
}

.consultation-desc {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.consultation-desc, .consultation-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 200px;
}
.consultation-desc a {
    width: 205px;
    border: 1px solid #32b16c;
    text-align: center;
    height: 65px;
    line-height: 65px;
    border-radius: 4px;
    font-size: 28px;
    color: #32b16c;
}






/*************************  课程详情  *************************/
.course h4, .course p {
    text-align: center;
    margin-bottom: .5rem;
}
.course p {
    color: #32b16c;
}
.course h4, .course p {
    text-align: center;
    margin-bottom: .5rem;
}
b, strong {
    font-weight: 700;
}